.pulse-sdk {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .visible {
        display: flex;
    }
    .hidden {
        display: none;
    }

    .error {
        color: white;
        background-color: red;
    }

    form.search-form {
        display: flex;
        position: relative;
        font-size: inherit;

        .search-input {
            display: flex;
            width: 100%;

            input[type="text"] {
                color: black;
                font-size: inherit;
                font-family: inherit;
                width: 100%;
                box-sizing: border-box;
                height: 32px;
                padding: 4px 14px;
                border-radius: 16px;
                border: 1px solid #f30e40;
                background-color: #ffeaea;

                &:focus {
                    outline: none;
                    border: 1px solid #ca0f37;
                }
            }
        }

        ul.autocomplete {
            display: flex;
            flex-direction: column;
            position: absolute;
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            top: 34px;
            left: 12px;
            right: 12px;
            z-index: 1;

            border: 1px solid #f30e40;
            // border-top: 0px;
            background-color: #ffeaea;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 4px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

            li {
                display: flex;
                flex-direction: row;

                a {
                    display: flex;
                    width: 100%;
                    color: #333;
                    padding: 4px 16px;
                    text-decoration: none;
                    transition: background-color ease 0.13s, color ease 0.13s; 

                    &:hover {
                        color: white;
                        background-color: #f30e40;
                    }
                }
            }
        }
    }
}